@model Blog.WebUI.Models.LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div style="text-align:center; height:100%; width:100%;">
    <section>
    <form  action="@Url.Action("Logined", "Login")" method="post">
         <p>
              @Html.LabelFor(x => x.Login, new {@class="editor-label"})
         </p>
           <p>
                @Html.TextBoxFor(x => x.Login)
         </p>
        <p>
                @Html.LabelFor(x => x.Password, new {@class="editor-label"})

        </p>
           <p>
                    @Html.PasswordFor(x => x.Password)</p>
           <p>
           
                <button type="submit">Log In</button>
            </p>
        
    </form>
        </section>
</div>
